html {
    height: -webkit-fill-available;
}

body {
    background: $body-bg-color;
    color: $body-text-color;
    // background: url(../img/a.jpg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}
